* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
}

.container {
  width: 70%;
  margin: 0 auto;
}

table{
  border: 1px solid black;
  width: 100%;
}
thead th{
  border-bottom: 1px solid black;
}

.buttons-filtre {
  display: flex;
  justify-content: center;
}

.box-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BoxAddUsers{
  display: none;
  border: 1px solid black;
  flex-direction: column;
  height: 300px;
}

form{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}